
click==6.6
Flask==0.12
itsdangerous==0.24
Jinja2==2.8.1
MarkupSafe==0.23
numpy==1.11.3
pandas==0.19.2
requests==2.12.4
py-goldsberry==1.0.1
nba-py==0.1.1a2
pylibmc==1.5.1
python-dateutil==2.6.0
python-memcached==1.58
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2016.10
six==1.10.0
Unidecode==0.4.19
Werkzeug==0.11.15
