commands:
  01_python-dev-install:
    command: 'yum install python27-devel -y'
  02_libmemcached-install:
    command: 'yum install libmemcached-devel -y'
  03_zlib1g-install:
    command: 'yum install zlib-devel -y'
  04_yum_memcached:
    command: 'yum install memcached -y'

packages:
  yum:
    gcc-c++: []

option_settings:
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"

