<!DOCTYPE html>
<html lang="en">
    <head>
    	{% block head %}
        <meta charset="utf-8" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>
        <link rel="stylesheet" href="../static/main.css">
		<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
    </head>
    <body style="margin:50px">
		<div id='root'>
		</div>
		<form action = "." method = "POST" class = "pure-form">
		<input type = "text" name = "player_names" 
		value = "{{player_names}}" class = pure-input-2-3 placeholder = "Comma-space separated: e.g. Lebron James, Stephen Curry, Mario Chalmers">
		<br>
		<div class = "pure-radio" id = "stat_radio">
		<input type = "radio" name = "stat" value = "PTS" 
		{% if stat == "PTS" %} 
			checked = "checked"
		{% endif %}> Points
		<input type = "radio" name = "stat" value = "AST"
		{% if stat == "AST" %} 
			checked = "checked"
		{% endif %}> Assists
		<input type = "radio" name = "stat" value = "REB"
		{% if stat == "REB" %} 
			checked = "checked"
		{% endif %}> Rebounds
		<input type = "radio" name = "stat" value = "BLK"
		{% if stat == "BLK" %} 
			checked = "checked"
		{% endif %}> Blocks
		<input type = "radio" name = "stat" value = "STL"
		{% if stat == "STL" %} 
			checked = "checked"
		{% endif %}> Steals
		<input type = "radio" name = "stat" value = "FG3M"
		{% if stat == "FG3M" %} 
			checked = "checked"
		{% endif %}> 3PM
		<input type = "radio" name = "stat" value = "FG_PCT"
		{% if stat == "FG_PCT" %} 
			checked = "checked"
		{% endif %}> FG%
		<input type = "radio" name = "stat" value = "FT_PCT"
		{% if stat == "FT_PCT" %} 
			checked = "checked"
		{% endif %}> FT%
		<input type = "radio" name = "stat" value = "FG3_PCT"
		{% if stat == "FG3_PCT" %} 
			checked = "checked"
		{% endif %}> 3P%
		<input type = "radio" name = "stat" value = "PLUS_MINUS"
		{% if stat == "PLUS_MINUS" %} 
			checked = "checked"
		{% endif %}> +/-
		<input type = "radio" name = "stat" value = "WL"
		{% if stat == "WL" %} 
			checked = "checked"
		{% endif %}> Win/Loss
		<input type = "radio" name = "stat" value = "MIN"
		{% if stat == "MIN" %} 
			checked = "checked"
		{% endif %}> Minutes
		</div>
		<br>
		<input type = "submit" value="Search" class = "pure-button pure-button-primary">
		</form>

		<label>{{error}}</label>
    	{% block content %}

    	{% endblock %}
        <script src="../static/bundle.js"></script>
    </body>
</html>